.top-nav {
    width: 100%;
    height: 80px;
    background: #fff;
    font-size: 13px;
}
.top-nav .navbar{
    padding-top:10px;
    padding-bottom:0;
}
.top-nav .container .navbar-header {
    margin-right: 50px;
}
.top-nav .nav > li > a{
    color: #000;
    line-height: 1.9;
}
.top-nav .nav .active > a {
    background: url(../images/navActive.png) no-repeat;
    background-position: 0 8px;
    background-size: 100% 48px;;
    color: #fff;
    text-align: center;
}
.top-nav .nav > li > a:hover,
.top-nav .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.top-nav .nav > li.disabled > a {
  color: #777;
}
.top-nav .nav > li.disabled > a:hover,
.top-nav .nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.top-nav .text-admin {
    color: #969696 !important;
}
.top-nav .text-logout {
    color: #00a0e9 !important;
    text-decoration:underline;
}
.top-nav .rightNav > li:last-child > a{
    padding-right: 0;
}

@media (min-width: 992px) {
    .rightNav .text-admin{
        display: none;
    }
}
@media (min-width: 1200px) {
    .rightNav .text-admin{
        display: block;
    }
}