<ion-view view-title="New User">
    <ion-content class="padding">

        <div class="list list-inset">

            <label class="item item-input">
                <div class="input-label">User Name</div>
                <input type="text" placeholder="Input User Name" ng-model="my.newUserName">
            </label>

            <label class="item item-input">
                <div class="input-label">Email Address</div>
                <input type="text" placeholder="Input Email Address"ng-model="my.newUserEmail">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">Country Code</div>
                <select ng-model="my.country" ng-options="country.countryId for country in countries">
                </select>
            </label>

            <label class="item item-input">
                <div class="input-label">Phone Number</div>
                <input type="text" placeholder="Input Phone Number" ng-model="my.newUserPhone">
            </label>

            <label class="item item-input">
                <div class="input-label">Password</div>
                <input type="password" placeholder="Input Password" ng-model="my.newUserPassword">
            </label>
        </div>

        <button class="button button-block button-balanced" ng-click="newUser()">Apply</button>
    </ion-content>
</ion-view>
