<ion-view view-title="Regional Device"> 
    <ion-content>
        <div class="list device">
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Light
                </div>
                <select ng-model="my.device" ng-options="device.device_name for device in devices" ng-change="deviceChange()"></select>
            </label>

        </div>

        <div class="item">
            <div style="float: right;">
                <button class="button button-balanced" ng-click="ctrlDeviceOn()">On</button>
                <button class="button button-assertive" ng-click="ctrlDeviceOff()">Off</button>
            </div>
        </div>

        
        <div class="list" ng-repeat="channel in my.channel">
            <div class="item range range-positive" on-release="ctrlChannel(channel)">
                {{channel.channel_name}}
                <i class="icon ion-ios-sunny-outline"></i>
                    <input type="range" name="volume" min="0" max="100" ng-model="channel.channel_value">{{channel.channel_value}}%
                <i class="icon ion-ios-sunny"></i>
                <!--<button class="button button-balanced button-small" ng-click="ctrlChannel(channel)">apply</button>-->
            </div>
        </div>
    </ion-content>
</ion-view>