<ion-view view-title="Scene Setting">
    <ion-content class="padding">
        <div class="list list-inset">
            <ion-item class="item item-icon-right" ng-repeat="scene in sceneList" type="item-text-wrap" ng-click="toSceneSetDetail(scene)">
                <h2>{{scene.scene_name}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </div>
    
        <button class="button button-block button-balanced" ng-click="toAddScene()">Add Scene</button>
    </ion-content>
</ion-view>

