<script type="text/ng-template" id="groupModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Group Control</h3>
    </div>
    <div class="modal-body" cg-busy="{promise:groupControlProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <div class="panel panel-default"  style="margin:10px;">
          <div class="panel-heading">
            <div class="row">
              <div class="pull-left" style="line-height:35px; margin-left:8px;margin-right:8px;">
                <span>Group switch</span> 
              </div>
              <div class="pull-left">
                  <button class="btn btn-success" ng-click="groupControlOn()">On</button>
                  <button class="btn btn-warning" ng-click="groupControlOff()">Off</button>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div ng-if="!groupChanneList || groupChanneList.length == 0">No data now</div>
            
            <div class="progress-block row" ng-repeat="groupChannel in groupChanneList">
                <div class="col-md-3" style="margin-top: 28px;">Name: {{groupChannel.channel_name}}(%)</div>
                <div class="col-md-8">
                    <article ng-mouseup="control(groupChanneList)">
                      <rzslider 
                        rz-slider-model="groupChannel.channel_value"
                        rz-slider-options="slider_callbacks.options"
                        ></rzslider>
                    </article>
                </div>
                <!--<div class="col-md-2">-->
                  <!--<button class="btn btn-success" style="margin-top: 20px;" ng-click="control(groupChannel)">Sure</button>-->
                <!--</div>-->
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">Ok</button>
    </div>
</script>

<div style="margin:10px;">

    <table class="table">
      <tr>
        <th>Group Name</th>
        <th>Gateway</th>
        <th>Operation</th>
      </tr>
      <tr ng-repeat="(index,group) in groupList">
        <td>{{group.group_name}}</td>
        <td>{{group.gateway_id}}</td>
        <td><a ng-click="open('lg', group)">Control</a></td>
      </tr>
      <tr>
        <td colspan="3" ng-if="!groupList || groupList.length==0" style="text-align: center">No data now</td>
      </tr>
    </table>
    
    <!--<div>-->
        <!--<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>-->
    <!--</div>-->
</div>