<div class="row">
    <div class="col-md-12">
        <div id="accordion">
            <h3>Region Control</h3>
            <div ng-controller="RegionChannelCtrl">
                <table class="table">
                    <tr>
                        <th>Current Region</th>
                        <th>Gateway</th>
                        <th>Operation</th>
                    </tr>
                    <tr>
                        <td>{{regionName}}</td>
                        <td>{{gatewayId}}</td>
                        <td>
                            <button class="btn btn-success btn-xs" ng-click="openRegionCtrl('lg')">Control</button>
                        </td>
                    </tr>
                </table>
            </div>
            <h3>Device Control</h3>
            <div ng-controller="RegionDeviceCtrl">
                <table class="table" cg-busy="{promise:regionDeviceProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
                    <tr>
                        <th>Device Name</th>
                        <th>Gateway</th>
                        <th>Device Type</th>
                        <th>Operation</th>
                    </tr>
                    <tr ng-repeat="(index, regionDevice) in regionDeviceList track by $index">
                        <td>{{regionDevice.device_name}}</td>
                        <td>{{regionDevice.gateway_id}}</td>
                        <td>{{regionDevice.device_type}}</td>
                        <td>
                            <button class="btn btn-success btn-xs" ng-if="regionDevice.device_type == 'bulb'" ng-click="open('lg', regionDevice)">Control</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" ng-if="!regionDeviceList || regionDeviceList.length==0" style="text-align: center">No data now</td>
                    </tr>
                </table>
            </div>
            <h3>Group Control</h3>
            <div ng-controller="GroupDeviceCtrl">
                <table class="table" cg-busy="{promise:groupControlProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
                    <tr>
                        <th>Group Name</th>
                        <th>Gateway</th>
                        <th>Operation</th>
                    </tr>
                    <tr ng-repeat="(index,group) in groupList">
                        <td>{{group.group_name}}</td>
                        <td>{{group.gateway_id}}</td>
                        <td>
                            <button class="btn btn-success btn-xs" ng-click="open('lg', group)">Control</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" ng-if="!groupList || groupList.length==0" style="text-align: center">No data now</td>
                    </tr>
                </table>
            </div>
            <h3>Scene Control</h3>
            <div ng-controller="SceneDeviceCtrl">
                <table class="table" cg-busy="{promise:controlSceneOnProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
                    <tr>
                        <th>Scene Name</th>
                        <th>Gateway</th>
                        <th>Control</th>
                    </tr>
                    <tr ng-repeat="(index, scenes) in scenesList">
                        <td style="line-height: 35px;">{{scenes.scene_name}}</td>
                        <td style="line-height: 35px;">{{scenes.gateway_id}}</td>
                        <td style="vertical-align: middle">
                            <button class="btn btn-success btn-xs" ng-click="controlScene(scenes)">Apply</button>
                        </td>
                    </tr>
                    <tr ng-if="!scenesList || scenesList.length == 0">
                        <td colspan="3" ng-if="!scenesList || scenesList.length==0" style="text-align: center">No data now</td>
                    </tr>
                </table>

                <!--<div>-->
                    <!--<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        $( "#accordion" ).accordion({
            collapsible: true,
            active: 0,
            heightStyle: 'content',
            icons: icons
        });
        $( "#toggle" ).button().on( "click", function() {
            if ( $( "#accordion" ).accordion( "option", "icons" ) ) {
                $( "#accordion" ).accordion( "option", "icons", null );
            } else {
                $( "#accordion" ).accordion( "option", "icons", icons );
            }
        });
    });
</script>
<!--设备控制弹窗-->
<script type="text/ng-template" id="deviceModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Device Control</h3>
    </div>
    <div class="modal-body"  cg-busy="{promise:controlPro,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <div class="panel panel-default"  style="margin:10px;">
            <div class="panel-heading">
                <div class="row">
                    <input type="image" src="./images/btnon.png" onmouseover="this.src='./images/btnon-press.png'" style="width: 7%;outline: none;float: left" onmouseout="this.src='./images/btnon.png'" ng-click="deviceControlOn()">
                    <input type="image" src="./images/btnoff.png" onmouseover="this.src='./images/btnoff-press.png'" style="width: 7%;outline: none" onmouseout="this.src='./images/btnoff.png'" ng-click="deviceControlOff()">
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="!channelList || channelList.length == 0" style="text-align: center">No data now</div>

                <div class="progress-block row" ng-repeat="channel in channelList">
                    <div class="col-md-3" style="margin-top: 28px;">Name: {{channel.channel_name}}(%)</div>
                    <div class="col-md-8">
                        <article ng-mouseup="control(channel)">
                            <rzslider
                                    rz-slider-model="channel.channel_value"
                                    rz-slider-options="slider_callbacks.options"
                            ></rzslider>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<!--组控制弹窗-->
<script type="text/ng-template" id="groupModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Group Control</h3>
    </div>
    <div class="modal-body" cg-busy="{promise:groupControlProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <div class="panel panel-default"  style="margin:10px;"  cg-busy="{promise:regionGroupChannelInfoProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel-heading">
                <div class="row">
                    <input type="image" src="./images/btnon.png" onmouseover="this.src='./images/btnon-press.png'" style="width: 7%;outline: none;float: left" onmouseout="this.src='./images/btnon.png'" ng-click="groupControlOn()">
                    <input type="image" src="./images/btnoff.png" onmouseover="this.src='./images/btnoff-press.png'" style="width: 7%;outline: none" onmouseout="this.src='./images/btnoff.png'" ng-click="groupControlOff()">
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="!groupChanneList || groupChanneList.length == 0" style="text-align: center">No data now</div>

                <div class="progress-block row" ng-repeat="groupChannel in groupChanneList">
                    <div class="col-md-3" style="margin-top: 28px;">Name: {{groupChannel.channel_name}}(%)</div>
                    <div class="col-md-8">
                        <article ng-mouseup="control(groupChanneList)">
                            <rzslider
                                    rz-slider-model="groupChannel.channel_value"
                                    rz-slider-options="slider_callbacks.options"
                            ></rzslider>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">Ok</button>
    </div>
</script>

<!--区域控制弹窗-->
<script type="text/ng-template" id="regionControlModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Region Control</h3>
    </div>
    <div class="modal-body">
        <div class="panel panel-default" style="margin:10px;" cg-busy="{promise:controlRegionProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel-heading">
                <div class="row">
                    <input type="image" src="./images/btnon.png" onmouseover="this.src='./images/btnon-press.png'" style="width: 7%;outline: none;float: left" onmouseout="this.src='./images/btnon.png'" ng-click="regionControlOn()">
                    <input type="image" src="./images/btnoff.png" onmouseover="this.src='./images/btnoff-press.png'" style="width: 7%;outline: none" onmouseout="this.src='./images/btnoff.png'" ng-click="regionControlOff()">
                </div>
            </div>
            <div class="panel-body" cg-busy="{promise:channelInfoProm,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
                <div class="progress-block row" ng-repeat="regionChannel in RegionChannelList">
                    <div class="col-md-3" style="margin-top: 28px;">Name: {{regionChannel.channel_name}}(%)</div>
                    <div class="col-md-8">
                        <article ng-mouseup="controlRegion(regionChannel)">
                            <rzslider
                                    rz-slider-model="regionChannel.channel_value"
                                    rz-slider-options="slider_callbacks.options"
                            ></rzslider>
                        </article>
                    </div>
                </div>
                <div ng-if="!RegionChannelList || RegionChannelList.length == 0" style="text-align: center">No data now</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
    </div>
</script>

